<md-card>
    <img ng-src="{{ apiRoot }}/{{ creation.imageLink }}" class="md-card-image" alt="{{ creation.image.alt }}">
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">{{ creation.title }}</span>
            <span class="md-subhead">{{ creation.category.title }}</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-actions layout="row" layout-align="start center">
        <p ng-if="creation.link == null">Aucun lien vers la source</p>
        <md-button ng-if="creation.link" ng-href="{{creation.link}}" target="_blank">Lien vers le projet</md-button>
        <md-card-icon-actions>
            <rating-stars creation="creation" ng-if="ready"></rating-stars>
        </md-card-icon-actions>
    </md-card-actions>
    <md-card-content layout-padding>
        <p>
            {{ creation.description }}
        </p>
    </md-card-content>
</md-card>

<user-card name="{{ creation.user.username }}"></user-card>

<!-- Commentaires -->
<div ng-if="ready">
    <comment-list creation="creation"></comment-list>
</div>