<h2>
    ShareCrea - Créations Multimédia
</h2>

<md-card ng-repeat="creation in creations">
    <md-card-header>
        <md-card-avatar ng-if="creation.image">
            <img class="md-user-avatar" src=""/>
        </md-card-avatar>
        <md-card-header-text>
            <span class="md-title">{{creation.user.username}}</span>
        </md-card-header-text>
    </md-card-header>
    <img ng-src="" class="md-card-image" alt="">
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">{{creation.title}}</span>
            <span class="md-subhead">{{creation.category.title}}</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-actions layout="row" layout-align="start center">
        <md-button ng-href="#!/creation/{{creation.slug}}">Voir</md-button>
    </md-card-actions>
    <md-card-content>
        <p>{{creation.description|truncate:true:50:' ...' }}</p>
    </md-card-content>
</md-card>